.container {
  display: flex;
  padding: 0;
  margin-top: 80px;
}

.leftContainer {
  flex: 2;
  display: flex;
  height: 100%;
}

.rightContainer {
  display: flex;
  flex: 1;
  justify-content: center;
}


@media(max-width: 480px) {
  .container {
    display: block;
  }

  .rightContainer {
    padding: 0;
  }
}
